<!DOCTYPE html>
<head>
    <title></title>

    {{template "stub.bootstrapheader.html"}}

    <script src="static/shorty.js"></script>

</head>
<body>

    <div class = "wrapper">
        <div class = overlay>
            <div></div>
            <div class="col-md-5" style="background-color:rgb(112, 112, 231); color:rgb(76, 87, 76)">
                <h1 class="text-center">Enter a URL to shorten</h1>
                <div class="form md-5">
                    <div class="col-10">
                        <label for="url">Enter the url that you would like to shorten</label>
                        <input type="text" name="url" id="url" class="form-control" placeholder="example.com">
                        <button class="btn btn-primary" onclick="getShorty()"
                    </div>
                </div>
                <p id="shorty"></p>
            </div>
        </div>
    </div>


    {{template "stub.footer.html"}}

    {{template "stub.bootstrapjs.html"}}

</body>